@font-face {
    font-family: 'RockPaperScissors';
    src:  url('fonts/RockPaperScissors.eot?bpqwc8');
    src:  url('fonts/RockPaperScissors.eot?bpqwc8#iefix') format('embedded-opentype'),
      url('fonts/RockPaperScissors.ttf?bpqwc8') format('truetype'),
      url('fonts/RockPaperScissors.woff?bpqwc8') format('woff'),
      url('fonts/RockPaperScissors.svg?bpqwc8#RockPaperScissors') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.parent{
    background: rgb(49, 49, 49);
    color:skyblue;
    font-family: 'RockPaperScissors','Segoe UI', Tahoma, Verdana, sans-serif;
    display: flex;
    flex-flow: column;
    font-size: 4vw;
}

.greet{
    font-size: 2em;
    font-weight: lighter;
    text-align: center;
    color:rgb(115, 215, 255);
}

.game{
    flex-flow: row;
}
.player{
    flex-flow: column;
    align-items: center;
}
#choice{
    font-size: 1em;
    font-weight: lighter;
}
span {

    font-weight: lighter;
}
span:hover {
    font-size: 1.5em;
    font-weight: lighter;
    color: lightcoral;
}

#icon-rock:before {
    content: "\e901";
    color:skyblue;
    font-size: 1em;
}
#icon-rock:hover::before {
    color: lightcoral;
    font-size: 1.5em;
}
#icon-paper:before {
    content: "\e926";
    color:skyblue;
    font-size: 1em;
}
#icon-paper:hover::before {
    color: lightcoral;
    font-size: 1.5em;
}
#icon-scissors:before {
    content: "\ea5a";
    color:skyblue;
    font-size: 1em;
}
#icon-scissors:hover::before {
    color: lightcoral;
    font-size: 1.5em;
}