@font-face {
    font-family: 'RockPaperScissors';
    src:  url('fonts/RockPaperScissors.eot?3z8hsp');
    src:  url('fonts/RockPaperScissors.eot?3z8hsp#iefix') format('embedded-opentype'),
      url('fonts/RockPaperScissors.ttf?3z8hsp') format('truetype'),
      url('fonts/RockPaperScissors.woff?3z8hsp') format('woff'),
      url('fonts/RockPaperScissors.svg?3z8hsp#RockPaperScissors') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
.container{
    font-family: 'RockPaperScissors','Segoe UI', Tahoma, Verdana, sans-serif;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: min(max(12px, 3vw), 48px);
    width: 100vw;
    height: 100vh;
}
body{
    background: rgb(49, 49, 49);
    color:skyblue;
    font-weight: 100;
}
.greet{
    font-size: 2.75em;
    font-weight: 100;
 }
#g_rock{
    color: rgb(211, 170, 67);
}
#g_paper{
    color: skyblue;
}
#g_scissors{
    color: rgb(201, 144, 118);
}

div{
    display: flex;
}
.game{
    flex-flow: row;
    justify-content:space-evenly;
    padding-bottom: 2em;
}
/*---------------Name-----------------*/
.name{
    justify-content: center;
    font-weight: 100;
    padding-bottom: 2em;
}
#username{
    background-color: rgb(49, 49, 49);
    color:skyblue;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    font-size: 1em;
}
#username:focus {
    outline: none;
}
/*---------------Computer-----------------*/
.computer{
    flex-flow: column;
    align-items:center;
    font-size: 7em;
}

#icon-computer:before {
    content: "\e956";
}
#icon-keyboard:before {
    font-size: 2em;
    content: "\e955";
}
#icon-comp_scis:before {
    content: "\e900";
}
#icon-comp_rock:before {
    content: "\e902";
}
#icon-comp_paper:before {
    content: "\e903";
}
/*---------------Player-----------------*/
.player{
    flex-flow: column;
    align-self: center;
}
.headings{
    font-size: 1.5em;
    font-weight: lighter;
}
.headings:hover{
    font-size: 1.5em;
    color:skyblue;
}
span.player_move {
    font-size: 1.75em;
    color:skyblue;
}
span.player_move:hover {
    color: lightcoral;
}
#icon-rock:before {
    content: "\e901";
    opacity: 1.0;
}
#icon-paper:before {
    content: "\e926";
    opacity: 1.0;
}
#icon-scissors:before {
    content: "\ea5a";
    opacity: 1.0;
}
/*---------------Buttons-----------------*/

.functionality{
    flex-flow: column;
    justify-content: space-evenly;
}
span.buttons:hover {
    color: rgb(211, 170, 67);
}
#icon-retry:before {
    font-size: 1.5em;
    content: "\e984";
}
#icon-help:before {
    font-size: 1.5em;
    content: "\ea09";
}
#icon-list:before {
    font-size: 1.5em;
    content: "\e9b9";
}
/*---------------Results-----------------*/
.results{
    flex-direction: column;
    align-items: center;
}
#curr_res{
    font-size: 1.5em;
    padding-bottom: 0.5em;
}
#tot_res{
    font-size: 1em;
}