@font-face {
    font-family: 'RockPaperScissors';
    src:  url('fonts/RockPaperScissors.eot?46loin');
    src:  url('fonts/RockPaperScissors.eot?46loin#iefix') format('embedded-opentype'),
      url('fonts/RockPaperScissors.ttf?46loin') format('truetype'),
      url('fonts/RockPaperScissors.woff?46loin') format('woff'),
      url('fonts/RockPaperScissors.svg?46loin#RockPaperScissors') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

.parent{
    background: rgb(49, 49, 49);
    color:skyblue;
    font-family: 'RockPaperScissors','Segoe UI', Tahoma, Verdana, sans-serif;
    display: flex;
    flex-flow: column;
    align-content: space-between;
    font-size: min(max(12px, 3vw), 48px);
    font-weight: lighter;
}

.greet{
    font-size: 2.75em;
    font-weight: lighter;
    text-align: center;
}
#g_rock{
    color: skyblue;
}
#g_paper{
    color: rgb(211, 170, 67);
}
#g_scissors{
    color: rgb(201, 144, 118);
}

div{
    display: flex;
}
.game{
    flex-flow: row;
    justify-content: space-evenly;
}
/*---------------Name-----------------*/
.name{
    justify-content: center;
    font-weight: lighter; 
}
#username{
    background-color: rgb(49, 49, 49);
    color:skyblue;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    font-size: 1em;
    font-weight:inherit;
  
}
#username:focus {
    outline: none;
}


/*---------------Player-----------------*/
.player{
    flex-flow: column;
    align-self: center;
}
.headings{
    font-size: 1.5em;
    font-weight: lighter;
}
.headings:hover{
    font-size: 1.5em;
    color:skyblue;
}
span.player_move {
    font-size: 1.75em;
    color:skyblue;
}
span.player_move:hover {
    color: lightcoral;
}
#icon-rock:before {
    content: "\e901";
    opacity: 1.0;
}
#icon-paper:before {
    content: "\e926";
    opacity: 1.0;
}
#icon-scissors:before {
    content: "\ea5a";
    opacity: 1.0;
}
/*---------------Computer-----------------*/
.computer{
    flex-flow: column;
    align-items:center;
    font-size: 7em;
}

#icon-computer:before {
    content: "\e956";
}
#icon-keyboard:before {
    font-size: 2em;
    content: "\e955";
}
#icon-comp_scis:before {
    content: "\e900";
}
#icon-comp_rock:before {
    content: "\e902";
}
#icon-comp_paper:before {
    content: "\e903";
}

/*---------------Buttons-----------------*/

.functionality{
    flex-flow: row;
    justify-content: space-evenly;
    position: fixed;
    bottom:5vh;
    width: 90vw;
}
span.buttons:hover {
    color: rgb(211, 170, 67);
}
#icon-play:before {
    font-size: 2em;
    content: "\ea1c";
}
#icon-stop:before {
    font-size: 2em;
    content: "\ea1e";
}
#icon-retry:before {
    font-size: 1.8em;
    content: "\e984";
}
#icon-list:before {
    font-size: 2em;
    content: "\e9b9";
}
